header {
  padding-top: 60px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  background: transparent url('/images/hr.png') 0 bottom no-repeat;
}

header h1 {
  background: url(/images/logo.png) top right no-repeat;
  padding-bottom: 10px;
}

header h1 small {
  padding-left: 15px;
  font-size: 24px;
  color: #6D6D6D;
}

header .clean td {
  width: 33%;
}

header .clean .middle {
  text-align: center;
}

header .clean .right {
  text-align: right;
}

.navbar .nav > li {
  list-style: none;
  padding: 0;
}

#main_content h1 {
  margin-top: 20px;
  padding-top: 20px;
  background: transparent url('/images/hr.png') 0 0 no-repeat;
}

.versions {
  border: none;
}

.versions th {
  font-size: 24px;
}

.versions td {
  border: none;
  padding: 8px 0;
}

.versions .title {
  text-align: left;
  border-right: 1px solid #ebebeb;
}

.versions .button {
  float: none;
  margin: 0 auto;
}

small {
  font-size: small;
}

.full-history {
  text-align: right;
}

.older-versions {
  display: none;
}

.clean {
  border: none;
}

.clean td {
  border: none;
  text-align: left;
}

a.button {
  width: 145px;
}

#download-zip span {
  padding-left: 35px;
}

#download-buy span {
  padding-left: 25px;
  background-position: 37px 50%;
}

.app-shortcuts {
  margin: 5px 0;
}

.app-shortcuts.active {
  padding-left: 20px;
  margin: 15px 0;
}

.app-shortcuts.active a {
  font-weight: bold;
}

.app-shortcuts table {
  display: none;
}

.shortcuts-help {
  text-align: center;
}

footer .left {
  width: 50%;
  float: left;
}
footer .right {
  width: 50%;
  float: right;
  text-align: right;
}

.screen {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  background: transparent url('/images/hr.png') 0 bottom no-repeat;
}
.screen.last {
  background: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.screen img {
  border: 1px solid #000;
}

