header {
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
}

header h1 {
  background: url(/images/logo.png) top right no-repeat;
  padding-bottom: 10px;
}

header h1 small {
  padding-left: 15px;
  font-size: 24px;
  color: #6D6D6D;
}

header .clean td {
  width: 33%;
}

header .clean .middle {
  text-align: center;
}

header .clean .right {
  text-align: right;
}

header .menu {
  list-style: none;
  margin-top: 10px;
  padding: 10px 0 6px 0;
  border-top: 1px solid #ebebeb;
}

header .menu li {
  display: block;
  float: left;

  padding: 0;
}

header .menu .button {
  padding: 0 10px 0 10px;
  width: auto;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

header .menu .active .button {
  color: #9D9D9D;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#main_content h1 {
  margin-top: 20px;
}

.versions {
  border: none;
}

.versions th {
  font-size: 24px;
}

.versions td {
  border: none;
  padding: 8px 0;
}

.versions .title {
  text-align: left;
  border-right: 1px solid #ebebeb;
}

.versions .button {
  float: none;
  margin: 0 auto;
}

small {
  font-size: small;
}

.older-versions {
  display: none;
}

.clean {
  border: none;
}

.clean td {
  border: none;
  text-align: left;
}

a.button {
  width: 145px;
}

#download-zip span {
  padding-left: 35px;
}

#download-buy span {
  padding-left: 25px;
  background-position: 37px 50%;
}

.app-shortcuts {
  margin: 5px 0;
}

.app-shortcuts.active {
  padding-left: 20px;
  margin: 15px 0;
}

.app-shortcuts.active a {
  font-weight: bold;
}

.app-shortcuts table {
  display: none;
}

.shortcuts-help {
  text-align: center;
}

footer .left {
  width: 50%;
  float: left;
}
footer .right {
  width: 50%;
  float: right;
}

